- if @help_category_results.size > 1
  = link_to "Back to your recommendations", response_path(@response), class: 'govuk-back-link'
  %h2.govuk-heading-l
    = @help_category_result.label
- else
  %h2.govuk-heading-l
    Your recommendation for
    = @help_category_result.label


- @help_category_result.fragments.each do |fragment|
  %p.govuk-body
    = fragment.content.html_safe
#results-list
  - if @response.info_type == ['something_else'] # If info type is just something else then render all info
    - @help_category_result.children.each do |info_type|
      = render partial: 'info_type_result', locals: {info_type: info_type}

  - else # Otherwise just render relevant info.
    - @help_category_result.children.order(:position).where(slug: @response["info_type"]).each do |info_type|
      = render partial: 'info_type_result', locals: {info_type: info_type}

.save_for_later
  - if @help_category_results.size == 1
    = render partial: 'save_for_later'
  = render partial: 'start_again'

#toTop
  To the top
