- if @help_category_results.size > 1
  = link_to "Back to your recommendations", response_path(@response), class: "govuk-button"

%h2.govuk-heading-l
  = @help_category_result.label

#results-list
  - if @response.info_type == ['something_else'] # If info type is just something else then render all info
    - @help_category_result.children.each do |info_type|
      = render partial: 'info_type_result', locals: {info_type: info_type}


  - else # Otherwise just render relevant info.
    - @help_category_result.children.order(:position).where(slug: @response["info_type"]).each do |info_type|
      = render partial: 'info_type_result', locals: {info_type: info_type}

= render partial: 'save_for_later'

= link_to "Answer questions again", journeys_path, class: "govuk-button"