%span.govuk-caption-l
  Step 1 of 4
%h1.govuk-heading-l.no-margin-bottom
  What's your participant number?

= form_for @response, url: {action: "create"} do |f|

  - if @response.errors.any?
    .form_errors
      %h4
        = pluralize(@response.errors.count, "error")
        found, please address before continuing:

      .ul
      - @response.errors.full_messages.each do |msg|
        .li
          = msg

  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
    .govuk-form-group
      = f.text_field :participant_number, class: 'govuk-input govuk-input--width-10'
    .govuk-form-group
      = f.submit "Continue", class: 'govuk-button no-margin'
