%h1.govuk-heading-xl
  Before we begin: what's your name?
%h2.govuk-heading-l
  Why do we need this?
%p.govuk-body
  We use your name to share your answers with your Navigator.
  This is so they can talk to you face to face about your options.


%span.govuk-hint
  We won't share this information with anyone else.

= form_for @response, url: {action: "create"} do |f|

  - if @response.errors.any?
    .form_errors
      %h4
        = pluralize(@response.errors.count, "error")
        found, please address before continuing:

      .ul
      - @response.errors.full_messages.each do |msg|
        .li
          = msg

  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
    .govuk-form-group
      = f.label :forename, "First name", class: 'govuk-label'
      = f.text_field :forename, class: 'govuk-input govuk-input--width-10'
    .govuk-form-group
      = f.label :surname, "Last name", class: 'govuk-label'
      = f.text_field :surname, class: 'govuk-input govuk-input--width-10'
    .govuk-form-group
      = f.submit "Continue", class: 'govuk-button'