%span.govuk-caption-l
  Step 1 of 4
%h1.govuk-heading-l.no-margin-bottom
  What's your name?

= form_for @response, url: {action: "create"} do |f|

  - if @response.errors.any?
    .form_errors
      %h4
        = pluralize(@response.errors.count, "error")
        found, please address before continuing:

      .ul
      - @response.errors.full_messages.each do |msg|
        .li
          = msg

  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
    .govuk-form-group
      = f.label :forename, "First name", class: 'govuk-label'
      = f.text_field :forename, class: 'govuk-input govuk-input--width-10'
    .govuk-form-group
      = f.label :surname, "Last name", class: 'govuk-label'
      = f.text_field :surname, class: 'govuk-input govuk-input--width-10'
    .govuk-form-group
      = f.submit "Continue", class: 'govuk-button no-margin'

%hr
%br
%h2.govuk-heading-m
  Why do we need this?
%span.govuk-body
  We use your name so that when a Navigator comes to speak to you, we can share your answers so they know a little more about your needs.
