#resultsPage
  - if @help_category_results.size > 0
    %h1.govuk-heading-xl
      Your recommendations
    %p
      We have found some information and services that might be useful for you. We're still learning, so please let us know at the end whether this information was helpful
    #contents
      - if @response.info_type == ['something_else']
        %p We're sorry we don't have the type of information that you’re looking for. Here’s all the information that we do have for your choices.

      %span.govuk-body-l
        %strong
          Contents:
      %ul
        - @help_category_results.each do |help_category_result|
          %li.bold
            %a{href: '#' + help_category_result.label.parameterize }= help_category_result.label
            %ul
              - @info_types.each do |info_type|
                %li
                  %a{href: '#' + help_category_result.label.parameterize + '_' + @help_category_results.first.children.where(slug: info_type).first.label.parameterize }
                    = @help_category_results.first.children.where(slug: info_type).first.label
              - if @response.info_type == ['something_else']
                - help_category_result.children.each do |info_type|
                  - unless info_type.slug == 'more_help'
                    %li
                      %a{href: '#' + help_category_result.label.parameterize + '_' + info_type.label.parameterize }
                        = info_type.label

        - if @response.help_category.include? 'something_else' && @response.suggested_help_category
          %li.govuk-info
            You also were interested in '#{@response.suggested_help_category}'



      - if @response.info_type.include? 'something_else' && @response.suggested_info_type
        %p.govuk-info
          You were also interested in '#{@response.suggested_info_type}'


    - @help_category_results.each do |help_category_result|
      .single_category{id: help_category_result.label.parameterize }
        .single-result
          %h2.govuk-heading-l
            = help_category_result.label
          %p.govuk-body
            - help_category_result.fragments.each do |fragment|
              %p.govuk-body
                = fragment.content.html_safe
        #results-list
          - if @response.info_type == ['something_else']
            - help_category_result.children.each do |info_type|
              - unless info_type.slug == 'more_help'
                .single-result{id: help_category_result.label.parameterize + '_' + info_type.label.parameterize }
                  .result-title
                    %h2.govuk-heading-m
                      = info_type.label
                  .result-content
                    - info_type.fragments.each do |fragment|
                      = fragment.content.html_safe
          - else
            - help_category_result.children.where(slug: @response["info_type"]).each do |info_type|
              .single-result{id: help_category_result.label.parameterize + '_' + info_type.label.parameterize }
                .result-title
                  %h2.govuk-heading-m
                    = info_type.label
                .result-content
                  - info_type.fragments.each do |fragment|
                    = fragment.content.html_safe

          - more_help = help_category_result.children.where(slug: 'more_help').first
          - unless more_help.fragments.count == 1 && more_help.fragments.first.content == ""
            .single-result
              .result-title
                %h2.govuk-heading-m
                  Need more help?
              .result-content
                - more_help.fragments.each do |fragment|
                  = fragment.content.html_safe
      - unless help_category_result == @help_category_results.last
        / %hr

    .save_for_later
      %h2.govuk-heading-m
        Want to save this for later?
      Type your phone number in the box below and we'll send you a link to these results
      %span.govuk-hint
        We won't use this information for anything else.
      #validate_mobile
        .form_errors.display_none
          %h4 Please check your phone number is correct
        = form_for @response, url: response_send_results_sms_path(@response.id), method: :patch do |f|
          .govuk-form-group
            = f.telephone_field :phone_number, class: 'govuk-input govuk-input--width-10 '
          .govuk-form-group
            = f.submit "Send", class: 'govuk-button no-margin'
    %br
    %h2.govuk-heading-m
      Need to speak to someone?
    %p
      If you feel like you are having difficulties with the Home and Healthy service or just feel like you need to talk to someone you can contact the Navigator service on:
      =link_to "0333 777 8087", "tel:0333 777 8087"
    /   = @results.where(slug: 'more_help_generic').first.label
    / - @results.where(slug: 'more_help_generic').first.fragments.each do |fragement|
    /   = fragement.content.html_safe

#toTop
  To the top
