%h1.govuk-heading-xl
  Your results
%p.govuk-body-l
  %strong
    You chose:
  - @help_category_results.each do |help_category_result|
    - if @help_category_results.last == help_category_result
      = help_category_result.label
    - else
      = help_category_result.label + ","
%p.govuk-body-l
  %strong
    You were most interested in:
  - @info_types.each do |info_type|
    - if @info_types.last == info_type
      = @help_category_results.first.children.where(slug: info_type).first.label
    - else
      = @help_category_results.first.children.where(slug: info_type).first.label + ","

  - @help_category_results.each do |help_category_result|
    .single_category
      %h2.govuk-heading-l
        = help_category_result.label
      %p.govuk-body
        - help_category_result.fragments.each do |fragment|
          %p.govuk-body
            = fragment.content.html_safe
      .accordion
        - help_category_result.children.where(slug: @response["info_type"]).each do |info_type|
          .accord-single
            .accord-toggle
              %h2.govuk-heading-m
                = info_type.label
                =fa_icon 'chevron-down'
            .accord-cont
              - info_type.fragments.each do |fragment|
                = fragment.content.html_safe
        - more_help = help_category_result.children.where(slug: 'more_help').first
        - unless more_help.fragments.count == 1 && more_help.fragments.first.content == ""
          .accord-single
            .accord-toggle
              %h2.govuk-heading-m
                More help
                =fa_icon 'chevron-down'
            .accord-cont
              - more_help.fragments.each do |fragment|
                = fragment.content.html_safe
    %hr

%h2.govuk-heading-l
  = @results.where(slug: 'more_help_generic').first.label
- @results.where(slug: 'more_help_generic').first.fragments.each do |fragement|
  = fragement.content.html_safe