%h1.govuk-heading-xl
  Your results

%p.govuk-body-l
  - @response.help_category.each do |help_category|
    = @results[help_category]["consistent_text"]

%p.govuk-body
  - @response.help_category.each do |help_category|
    - @response.info_type.each do |info_type|
      - @results[help_category][info_type].each do |section|
        - if section["type"] == "paragraph"
          %p.govuk-body
            = section["content"]
        - elsif section["type"] == "link"
          %p.govuk-body
            - if section["label"]
              = link_to section["label"], section["url"], class: "govuk-link govuk-body"
            -else
              = link_to section["url"], section["url"], class: "govuk-link govuk-body"
        - elsif section["type"] == "bullets"
          %ul.gov-body
            - section["content"].each do |bullet_point|
              %li.govuk-body
                = bullet_point


  
