%h1.govuk-heading-xl
  Your results

%p.govuk-body-l
  - @response.help_category.each do |help_category|
    - @results[help_category]["consistent_text"].each do | section|
      - if section["type"] == "paragraph"
        %p.govuk-body-l
          = section["content"]
      - elsif section["type"] == "bullets"
        %ul.gov-body
          - section["content"].each do |bullet_point|
            %li.govuk-body-l
              = bullet_point
      - elsif section["type"] == "subheading"
        %p.govuk-heading-l
          = section["content"]

%p.govuk-body
  - @response.help_category.each do |help_category|
    - @response.info_type.each do |info_type|
      - @results[help_category][info_type].each do |section|
        - if section["type"] == "paragraph"
          %p.govuk-body
            - section["components"].each do |component|
              - if component["type"] == "text"
                = component["content"]
              - elsif component["type"] == "hyperlink"
                = link_to component["label"], component["url"], target: :_blank, class: "govuk-link govuk-body"
            = section["content"]
        - elsif section["type"] == "bullets"
          %ul.gov-body
            - section["content"].each do |bullet_point|
              %li.govuk-body
                = bullet_point
        - elsif section["type"] == "subheading"
          %p.govuk-heading-m
            = section["content"]


  
