#resultsPage
  - if @help_category_results.size > 0
    %h1.govuk-heading-xl
      Your recommendations
    #contents
      - if @response.info_type == ['something_else']
        %p We're sorry we don't have the type of information that you’re looking for. Here’s all the information that we do have for your choices. We're still learning, so please let us know at the end whether this information was helpful.
      -else
        %p We have found some information and services that might be useful for you. We're still learning, so please let us know at the end whether this information was helpful.

      - if @response.info_type.include? 'something_else' && @response.suggested_info_type
        %p.govuk-info
          You were also interested in '#{@response.suggested_info_type}'


    - @help_category_results.each do |help_category_result|
      .single_category{id: help_category_result.label.parameterize }
        .single-result
          %h2.govuk-heading-l
            = help_category_result.label
          %p.govuk-body
            - help_category_result.fragments.each do |fragment|
              %p.govuk-body
                = fragment.content.html_safe
          = link_to "Find out more", help_category_result_response_path(@response.id, help_category_result.slug), class: "govuk-button"
    %br

    = render partial: 'save_for_later'

    %br
    %h2.govuk-heading-m
      Need to speak to someone?
    %p
      If you feel like you are having difficulties with the Home and Healthy service or just feel like you need to talk to someone you can contact the Navigator service on:
      =link_to "0333 777 8087", "tel:0333 777 8087"
    /   = @results.where(slug: 'more_help_generic').first.label
    / - @results.where(slug: 'more_help_generic').first.fragments.each do |fragement|
    /   = fragement.content.html_safe

#toTop
  To the top

= link_to "Answer questions again", journeys_path, class: "govuk-button"