%span.govuk-caption-xl
  Leaving Hospital - Virtual Advisor
  
= form_for @response do |f|

  .govuk-form-group
    %fieldset.govuk-fieldset{"aria-describedby" => "sign-in-hint"}
      %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
        %h1.govuk-fieldset__heading
          What type of statement applies to you (or someone you know)?
      .govuk-radios
        - @questions.each do |k, q|
          .govuk-radios__item
            = f.radio_button :category, k, 'aria-describedby' => "#{k}-item-hint", class: 'govuk-radios__input'
            %label.govuk-label.govuk-radios__label.govuk-label--s{for: k}= q['title']
            %span.govuk-hint.govuk-radios__hint{id: "#{k}-item-hint"}= q['hint']
                        
    %p
      = submit_tag 'Save and continue', class: 'govuk-button'
      
