= link_to 'Back to home', root_path, class: 'govuk-back-link'

#firstQuestion
  %span.govuk-caption-l
    Step 1 of 3
  %span.govuk-caption-l
    We’ll ask you a few questions to help us understand your personal needs...


  = form_for @response, class: 'validation' do |f|
    = hidden_field_tag :next_step, @next_step

    .govuk-form-group
      %fieldset.govuk-fieldset{"aria-describedby" => "sign-in-hint"}
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
          %h1.govuk-fieldset__heading
            Please choose ONE statement that best describes what you want to do
        .form_errors.display_none
          %h4 Please select an option to continue
        .govuk-radios
          - @questions.each do |k, q|
            .govuk-radios__item.verticle_align
              = f.radio_button :category, k, 'aria-describedby' => "#{k}-item-hint", class: "govuk-radios__input #{'display_hidden_radio' if k == 'not_sure'}"
              %label.govuk-label.govuk-radios__label.govuk-label--s{for: "response_category_#{k}"}= q['title']
              %span.govuk-hint.govuk-radios__hint{id: "#{k}-item-hint"}= q['hint']
              - if k == 'not_sure'
                .hidden_field
                  %div.bold Tell us what you are looking for
                  %div.govuk-hint Please let us know what's missing, so we can improve the service in the future
                  = f.text_field :suggested_category, class: 'govuk-input govuk-input--width-20', placeholder: "Tell us what you're looking for"

        %p
          = submit_tag 'Save and continue', class: 'govuk-button'

